/*¹ö¶¯Í¼Æ¬divÑùÊ½*/
#demo {
	width: 700px;
	background: #FFF;
	overflow: hidden;
	border: 1px dashed #CCC;
	margin: 0px 0px 0px 70px;
}

#demo img {
	border: 3px solid #F2F2F2;
}

#indemo {
	float: left;
	width: 800%;
}

#demo1 {
	float: left;
}

#demo2 {
	float: left;
}