@charset "utf-8";

body {
	-moz-user-select:   none;
	font: 12px/150% Arial, Verdana, "\5b8b\4f53";
	color: #666;
	margin: 0px;
}

ul,ol {
	list-style: none;

	padding: 0px;
}

.mainDiv {
	float: left;
	height: 100%;
	width: 100%;
}

#headInfoDiv {
	height: 30px;
	background: #F7F7F7;
	margin: 0px;
	width: 100%;
}

#headInfoDiv ul {
	float: right;
	margin-bottom: 0px;
}

#headInfoDiv ul li {
	float: left;
	height: 30px;
	padding: 0 11px 0 12px;
}

#tabs {
	float: left;
	height: 50px;
	width: 100%;
}

.tab {
	float: left;
	height: 30px;
	width: 150px;
	background: #f4f4f4;
	border: none;
	text-align: center;
	padding-top: 8px;
	margin: 0px 0px 10px 30px;
}

.tab span {
	font: 15px Microsoft YaHei;
	font-weight: inherit;
}

.tab:HOVER {
	font-weight: 700;
	text-decoration: underline;
	cursor: pointer;
}

#today {
	height: 260px;
}

.head {
	float: left;
	width: 100%;
	height: 30px;
	background: #F7F7F7;
}

.head span {
	font: 15px Microsoft YaHei;
	margin-left: 20px;
}

.more {
	float: right;
	width: 100%;
	height: 30px;
}

.more a {
	float: inherit;
}

.content {
	float: left;
	width: 100%;
	height: 200px;
}

.content a {
	float: inherit;
	width: 200px;
	height: 200px;	
	margin-left: 100px;
}

.content a img {
	float: inherit;
	width: 200px;
	height: 175px;
}

.content a span {
	float: inherit;
	text-decoration: none;
	font: 10px Microsoft YaHei;
	text-align: center;
}

.shoppingContent {
	float: left;
}

.shoppingContent ul li {
	float: inherit;
	width: 100%;
	height: 50px;
	padding: 3px 0px 0px 10px;
}

.shoppingContent ul {
	float: inherit;
}

.shoppingContent ul li a {
	float: inherit;
	width: 100%;
	text-decoration: none;
}

.shoppingContent ul li a img {
	float: inherit;
	width: 40px;
	height: 40px;
}

.shoppingContent ul li a span {
	float: inherit;
}